<!DOCTYPE html>
<html>
  <head>
    <title>API Doc</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>List of APIs</h3>
    <ul>
      <li>GET /api -- This document.</li>
      <li>GET /api/files -- List all files.</li>
      <li>GET /api/files/{file id} -- Download single file by using file id.</li>
      <li>POST /api/upload -- Upload a file.</li>
      <li>DELETE /api/files/{file id} -- Delete file from db.</li>
    </ul>
  </body>
</html>
