<!DOCTYPE html>
<html>
  <head>
    <title>Node file upload sample</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Node file upload sample</h2>
    <div id='files'>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.5/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.5/react-dom.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
